{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <!-- The existing code here... -->

      <!-- New section for token response -->
      <div class="col-md-6 mt-5">
        <h1 class="mb-4">Access Token</h1>
        <hr>
        {% if token_response %}
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Key</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              {% for key, value in token_response.items %}
                <tr>
                  <td><strong> {{ key }}</strong></td>
                  <td><strong> {{ value }}</strong></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% elif error %}
          <div class="alert alert-danger" role="alert">
            {{ error }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
