{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mt-5">
        <h1 class="mb-3">Welcome to our Website!</h1>
        <a href="https://api.instagram.com/oauth/authorize?client_id={{ client_id }}&redirect_uri={{ redirect_uri }}&scope=user_profile,user_media&response_type=code" class="btn btn-primary btn-lg mb-4">
          Authorize Instagram
        </a>
        </div>

        <br>
        <br>
        <br>

        <p class="text-danger font-weight-bold">
          *This app is in development phase.
        </p>
        <p>
          This app is designed to connect to the Instagram Basic Display API. It allows users to authorize their Instagram accounts and gain access to basic user profile data and media.
        </p>
      </div>
    </div>
{% endblock %}
